* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #0b2700;
  color: white;
  text-align: center;
}

.cabecalho {
  background-image: linear-gradient(var(--fundo-titulo), #44662d);
  border: solid;
  border-color: rgb(60, 80, 80);
  text-align: center;
  padding: 1% 0; /* Removi o padding-left para centralizar */
}

.cabecalho__menu {
  display: flex;
  justify-content: center; /* Centraliza os itens no container */
  gap: 50px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-titulo);
  font-size: 2.0rem;
  font-weight: 500;
  color: var(--cor-titulo);
  text-decoration: none;
}
.rodape {
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    background-image: linear-gradient(black,var(--fundo-titulo));
    text-align: center;   
}
